@author: willystout

VEST 2020 Wisconsin precinct and election results: https://redistrictingdatahub.org/dataset/vest-2020-wisconsin-precinct-and-election-results/ 

Wisconsin block PL 94-171 2020 (by table): https://redistrictingdatahub.org/dataset/wisconsin-block-pl-94171-2020-by-table/

Wisconsin county PL 94-171 2020: https://redistrictingdatahub.org/dataset/wisconsin-county-pl-94171-2020/

2022 Wisconsin Congressional Districts Approved Plan: https://redistrictingdatahub.org/dataset/2022-wisconsin-congressional-districts-approved-plan/

VEST 2018 Wisconsin precinct and election results: https://redistrictingdatahub.org/dataset/vest-2018-wisconsin-precinct-and-election-results/

In [30]:
import pandas as pd
import geopandas as gpd
import maup
from maup import smart_repair
import time
import os

maup.progress.enabled = True

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [32]:
maup.progress.enabled = True

In [33]:
start_time = time.time()
population_df = gpd.read_file("./WI/wi_pl2020_b/wi_pl2020_p2_b.shp")
end_time = time.time()
print("The time to import wi_pl2020_p1_b.shp is:",
      (end_time-start_time)/60, "mins")

The time to import wi_pl2020_p1_b.shp is: 0.4873720645904541 mins

In [34]:
start_time = time.time()
county_df = gpd.read_file("./WI/wi_pl2020_cnty/wi_pl2020_cnty.shp")
end_time = time.time()
print("The time to import wi_pl2020_cnty.shp is:",
      (end_time-start_time)/60, "mins")

The time to import wi_pl2020_cnty.shp is: 0.0013516505559285482 mins

In [35]:
start_time = time.time()
vest20_df = gpd.read_file("./WI/wi_vest_20/wi_vest_20.shp")
end_time = time.time()
print("The time to import wi_vest_20.shp is:",
      (end_time-start_time)/60, "mins")

The time to import wi_vest_20.shp is: 0.024060916900634766 mins

In [36]:
start_time = time.time()
cong_df = gpd.read_file("./WI/wi_cong_adopted_2022/POLYGON.shp")
end_time = time.time()
print("The time to import wi_cong_adopted_2022/POLYGON.shp is:",
      (end_time-start_time)/60, "mins")

The time to import wi_cong_adopted_2022/POLYGON.shp is: 0.00022010008494059244 mins

In [37]:
start_time = time.time()
vest18_df = gpd.read_file("./WI/wi_vest_18/wi_vest_18.shp")
end_time = time.time()
print("The time to import wi_vest_18.shp is:",
      (end_time-start_time)/60, "mins")

The time to import wi_vest_18.shp is: 0.02608060042063395 mins

In [38]:
population_df = population_df.to_crs(population_df.estimate_utm_crs())
county_df = county_df.to_crs(county_df.estimate_utm_crs())
vest20_df = vest20_df.to_crs(vest20_df.estimate_utm_crs())
cong_df = cong_df.to_crs(cong_df.estimate_utm_crs())
vest18_df = vest18_df.to_crs(vest18_df.estimate_utm_crs())

In [39]:
population_df.head()

,GEOID20,SUMLEV,LOGRECNO,GEOID,COUNTY,P0020001,P0020002,P0020003,P0020004,P0020005,...,P0020065,P0020066,P0020067,P0020068,P0020069,P0020070,P0020071,P0020072,P0020073,geometry
0,550999704001040,750,0282395,7500000US550999704001040,099,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((218468.619 5067521.851, 218473.825 5..."
1,550999706002032,750,0282833,7500000US550999706002032,099,24,0,24,22,21,...,0,0,0,0,0,0,0,0,0,"POLYGON ((225297.184 5059406.511, 225302.985 5..."
2,550999701003089,750,0282192,7500000US550999701003089,099,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((253782.771 5075146.308, 253812.749 5..."
3,550999701003105,750,0282208,7500000US550999701003105,099,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((250355.075 5072172.015, 250374.005 5..."
4,550999707001024,750,0283023,7500000US550999707001024,099,8,0,8,5,5,...,0,0,0,0,0,0,0,0,0,"POLYGON ((243111.821 5048902.330, 243113.107 5..."

In [40]:
county_df.head()

,STATEFP20,COUNTYFP20,COUNTYNS20,GEOID20,NAME20,NAMELSAD20,LSAD20,CLASSFP20,MTFCC20,CSAFP20,...,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,geometry
0,55,095,01581108,55095,Polk,Polk County,06,H1,G4020,None,...,388,58,33,297,0,176,0,0,176,"POLYGON ((55820.311 5050858.609, 55818.423 505..."
1,55,045,01581082,55045,Green,Green County,06,H1,G4020,357,...,300,17,0,283,0,111,0,0,111,"POLYGON ((267549.933 4729536.475, 267565.970 4..."
2,55,087,01581104,55087,Outagamie,Outagamie County,06,H1,G4020,118,...,1654,434,10,1200,10,2139,1279,0,860,"POLYGON ((404913.041 4908423.745, 404912.989 4..."
3,55,001,01581060,55001,Adams,Adams County,06,H1,G4020,None,...,1110,1062,0,48,0,97,0,0,97,"POLYGON ((257977.858 4883897.075, 257720.919 4..."
4,55,119,01581119,55119,Taylor,Taylor County,06,H1,G4020,None,...,148,38,0,110,0,27,0,0,27,"POLYGON ((192210.416 5022894.332, 192210.692 5..."

In [41]:
vest20_df.head()

,CNTY_FIPS,CNTY_NAME,MCD_FIPS,MCD_NAME,CTV,WARDID,LABEL,PERSONS,RV,G20PREDBID,...,G20PREICAR,G20PREOWEL,G20PREOSIM,G20PREOBOD,G20PREOHAW,G20PREOLAR,G20PREOWES,G20PREOCHA,G20PREOWRI,geometry
0,55035,EAU CLAIRE,5503522300,EAU CLAIRE,C,0060,EAU CLAIRE - C 0060,12,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((139292.953 4974890.501, 139269.277 4..."
1,55035,EAU CLAIRE,5503522300,EAU CLAIRE,C,0059,EAU CLAIRE - C 0059,0,0,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((144305.023 4968892.880, 144316.453 4..."
2,55043,GRANT,5504363250,PLATTEVILLE,C,0002,PLATTEVILLE - C 0002,1371,942,489,...,1,0,0,0,0,0,0,0,3,"POLYGON ((215528.402 4738670.405, 215527.606 4..."
3,55043,GRANT,5504363250,PLATTEVILLE,C,0001,PLATTEVILLE - C 0001,1197,832,432,...,1,0,0,0,0,0,0,0,2,"POLYGON ((216386.194 4739423.917, 216459.462 4..."
4,55045,GREEN,5504500775,ALBANY,T,0001,ALBANY - T 0001,464,371,157,...,0,0,0,0,0,0,0,0,3,"POLYGON ((300826.104 4732164.174, 300821.170 4..."

In [42]:
cong_df.head()

,id,NAME,TotalPop,PopDevPc,DemPct,RepPct,WhitePct,Minority,BlackPct,Hispanic,PacificP,AsianPct,NativePc,TotalVAP,Margin,color,opacity,geometry
0,1.0,1,736715.0,0.000000,0.481142,0.491911,0.782418,0.217582,0.070932,0.102396,0.001110,0.024325,0.019329,575451.0,-0.018858,#0000FF,0.5,"POLYGON ((348358.235 4745226.043, 347592.443 4..."
1,2.0,2,736715.0,0.000000,0.694890,0.281285,0.820014,0.179986,0.046568,0.056653,0.001187,0.057611,0.015589,584519.0,0.194890,#008000,0.5,"POLYGON ((286255.899 4708986.006, 286384.418 4..."
2,3.0,3,736716.0,0.000001,0.486566,0.483154,0.909480,0.090520,0.016465,0.026567,0.001084,0.024026,0.017500,580338.0,-0.013434,#8B008B,0.5,"POLYGON ((166031.420 4975754.206, 166071.488 4..."
3,4.0,4,736714.0,-0.000001,0.734541,0.241345,0.470504,0.529496,0.314626,0.153485,0.001446,0.051948,0.021316,558133.0,0.234541,#FF0000,0.5,"POLYGON ((427547.312 4764043.628, 427625.398 4..."
4,5.0,5,736715.0,0.000000,0.346921,0.630317,0.883632,0.116368,0.019442,0.047246,0.000904,0.030984,0.013157,578845.0,-0.153079,#FFD700,0.5,"POLYGON ((383425.419 4738101.544, 383420.384 4..."

In [43]:
vest18_df.head()

,CNTY_FIPS,CNTY_NAME,MCD_FIPS,MCD_NAME,CTV,WARDID,LABEL,PERSONS,RV,G18USSRVUK,...,G18ATGOWRI,G18SOSRSCH,G18SOSDLAF,G18SOSOKAR,G18SOSOWRI,G18TRERHAR,G18TREDGOD,G18TRECZUE,G18TREOWRI,geometry
0,55139,WINNEBAGO,5513908000,BLACK WOLF,T,0001,BLACK WOLF - T 0001,792,590,279,...,0,289,190,0,0,283,182,9,0,"MULTIPOLYGON (((380332.966 4867079.825, 380321..."
1,55139,WINNEBAGO,5513908000,BLACK WOLF,T,0002,BLACK WOLF - T 0002,849,650,307,...,1,318,209,0,1,312,200,9,1,"MULTIPOLYGON (((376302.702 4870937.546, 376359..."
2,55039,FOND DU LAC,5503927975,FRIENDSHIP,T,0001,FRIENDSHIP - T 0001,908,550,242,...,0,252,155,0,1,250,145,8,0,"MULTIPOLYGON (((381711.110 4851479.799, 381727..."
3,55139,WINNEBAGO,5513908000,BLACK WOLF,T,0003,BLACK WOLF - T 0003,773,555,263,...,0,271,179,0,0,266,171,8,0,"MULTIPOLYGON (((383535.765 4861940.707, 383537..."
4,55007,BAYFIELD,5500739025,KELLY,T,0001,KELLY - T 0001,463,274,103,...,0,107,103,0,0,104,97,4,0,"POLYGON ((198408.669 5147671.053, 198407.229 5..."

In [44]:
print(population_df.columns)

Index(['GEOID20', 'SUMLEV', 'LOGRECNO', 'GEOID', 'COUNTY', 'P0020001',
       'P0020002', 'P0020003', 'P0020004', 'P0020005', 'P0020006', 'P0020007',
       'P0020008', 'P0020009', 'P0020010', 'P0020011', 'P0020012', 'P0020013',
       'P0020014', 'P0020015', 'P0020016', 'P0020017', 'P0020018', 'P0020019',
       'P0020020', 'P0020021', 'P0020022', 'P0020023', 'P0020024', 'P0020025',
       'P0020026', 'P0020027', 'P0020028', 'P0020029', 'P0020030', 'P0020031',
       'P0020032', 'P0020033', 'P0020034', 'P0020035', 'P0020036', 'P0020037',
       'P0020038', 'P0020039', 'P0020040', 'P0020041', 'P0020042', 'P0020043',
       'P0020044', 'P0020045', 'P0020046', 'P0020047', 'P0020048', 'P0020049',
       'P0020050', 'P0020051', 'P0020052', 'P0020053', 'P0020054', 'P0020055',
       'P0020056', 'P0020057', 'P0020058', 'P0020059', 'P0020060', 'P0020061',
       'P0020062', 'P0020063', 'P0020064', 'P0020065', 'P0020066', 'P0020067',
       'P0020068', 'P0020069', 'P0020070', 'P0020071', 'P0020072', 'P0020073',
       'geometry'],
      dtype='object')

In [45]:
print(county_df.columns)

Index(['STATEFP20', 'COUNTYFP20', 'COUNTYNS20', 'GEOID20', 'NAME20',
       'NAMELSAD20', 'LSAD20', 'CLASSFP20', 'MTFCC20', 'CSAFP20',
       ...
       'P0050002', 'P0050003', 'P0050004', 'P0050005', 'P0050006', 'P0050007',
       'P0050008', 'P0050009', 'P0050010', 'geometry'],
      dtype='object', length=349)

In [46]:
print(vest20_df.columns)

Index(['CNTY_FIPS', 'CNTY_NAME', 'MCD_FIPS', 'MCD_NAME', 'CTV', 'WARDID',
       'LABEL', 'PERSONS', 'RV', 'G20PREDBID', 'G20PRERTRU', 'G20PRECBLA',
       'G20PRELJOR', 'G20PREICAR', 'G20PREOWEL', 'G20PREOSIM', 'G20PREOBOD',
       'G20PREOHAW', 'G20PREOLAR', 'G20PREOWES', 'G20PREOCHA', 'G20PREOWRI',
       'geometry'],
      dtype='object')

In [47]:
print(cong_df.columns)

Index(['id', 'NAME', 'TotalPop', 'PopDevPc', 'DemPct', 'RepPct', 'WhitePct',
       'Minority', 'BlackPct', 'Hispanic', 'PacificP', 'AsianPct', 'NativePc',
       'TotalVAP', 'Margin', 'color', 'opacity', 'geometry'],
      dtype='object')

In [48]:
print(vest18_df.columns)

Index(['CNTY_FIPS', 'CNTY_NAME', 'MCD_FIPS', 'MCD_NAME', 'CTV', 'WARDID',
       'LABEL', 'PERSONS', 'RV', 'G18USSRVUK', 'G18USSDBAL', 'G18USSOWAL',
       'G18USSOSCH', 'G18USSOWRI', 'G18GOVRWAL', 'G18GOVDEVE', 'G18GOVLAND',
       'G18GOVGWHI', 'G18GOVITUR', 'G18GOVIENZ', 'G18GOVOCAS', 'G18GOVOBOU',
       'G18GOVOGRI', 'G18GOVOLAN', 'G18GOVOHOF', 'G18GOVOTUR', 'G18GOVONO1',
       'G18GOVONO2', 'G18GOVOWRI', 'G18ATGRSCH', 'G18ATGDKAU', 'G18ATGCLAR',
       'G18ATGOWRI', 'G18SOSRSCH', 'G18SOSDLAF', 'G18SOSOKAR', 'G18SOSOWRI',
       'G18TRERHAR', 'G18TREDGOD', 'G18TRECZUE', 'G18TREOWRI', 'geometry'],
      dtype='object')

In [49]:
vest20_df.drop(columns=['G20PRECBLA', 'G20PRELJOR', 'G20PREICAR', 'G20PREOWEL', 'G20PREOSIM',
              'G20PREOBOD', 'G20PREOHAW', 'G20PREOLAR', 'G20PREOWES', 'G20PREOCHA', 'G20PREOWRI',], inplace=True)

In [50]:
vest20_df.columns

Index(['CNTY_FIPS', 'CNTY_NAME', 'MCD_FIPS', 'MCD_NAME', 'CTV', 'WARDID',
       'LABEL', 'PERSONS', 'RV', 'G20PREDBID', 'G20PRERTRU', 'geometry'],
      dtype='object')

In [51]:
vest18_df.drop(columns=['G18USSOWAL', 'G18USSOSCH', 'G18USSOWRI', 'G18GOVLAND', 'G18GOVGWHI', 'G18GOVITUR', 'G18GOVIENZ', 'G18GOVOCAS', 'G18GOVOBOU', 'G18GOVOGRI',
              'G18GOVOLAN', 'G18GOVOHOF', 'G18GOVOTUR', 'G18GOVONO1', 'G18GOVONO2', 'G18GOVOWRI', 'G18ATGCLAR', 'G18ATGOWRI', 'G18SOSOKAR', 'G18SOSOWRI', 'G18TRECZUE', 'G18TREOWRI'], inplace=True)

In [52]:
vest18_df.columns

Index(['CNTY_FIPS', 'CNTY_NAME', 'MCD_FIPS', 'MCD_NAME', 'CTV', 'WARDID',
       'LABEL', 'PERSONS', 'RV', 'G18USSRVUK', 'G18USSDBAL', 'G18GOVRWAL',
       'G18GOVDEVE', 'G18ATGRSCH', 'G18ATGDKAU', 'G18SOSRSCH', 'G18SOSDLAF',
       'G18TRERHAR', 'G18TREDGOD', 'geometry'],
      dtype='object')

In [53]:
population_df.isna().sum()

GEOID20     0
SUMLEV      0
LOGRECNO    0
GEOID       0
COUNTY      0
           ..
P0020070    0
P0020071    0
P0020072    0
P0020073    0
geometry    0
Length: 79, dtype: int64

In [54]:
county_df.isna().sum()

STATEFP20     0
COUNTYFP20    0
COUNTYNS20    0
GEOID20       0
NAME20        0
             ..
P0050007      0
P0050008      0
P0050009      0
P0050010      0
geometry      0
Length: 349, dtype: int64

In [55]:
vest20_df.isna().sum()

CNTY_FIPS     0
CNTY_NAME     0
MCD_FIPS      0
MCD_NAME      0
CTV           0
WARDID        0
LABEL         0
PERSONS       0
RV            0
G20PREDBID    0
G20PRERTRU    0
geometry      0
dtype: int64

In [56]:
cong_df.isna().sum()

id          0
NAME        0
TotalPop    0
PopDevPc    0
DemPct      0
RepPct      0
WhitePct    0
Minority    0
BlackPct    0
Hispanic    0
PacificP    0
AsianPct    0
NativePc    0
TotalVAP    0
Margin      0
color       0
opacity     0
geometry    0
dtype: int64

In [57]:
vest18_df.isna().sum()

CNTY_FIPS     0
CNTY_NAME     0
MCD_FIPS      0
MCD_NAME      0
CTV           0
WARDID        0
LABEL         0
PERSONS       0
RV            0
G18USSRVUK    0
G18USSDBAL    0
G18GOVRWAL    0
G18GOVDEVE    0
G18ATGRSCH    0
G18ATGDKAU    0
G18SOSRSCH    0
G18SOSDLAF    0
G18TRERHAR    0
G18TREDGOD    0
geometry      0
dtype: int64

In [29]:
maup.doctor(population_df)

100%|██████████| 203059/203059 [01:29<00:00, 2275.51it/s]

True

In [ ]:
maup.doctor(county_df)

In [ ]:
maup.doctor(vest20_df)

In [ ]:
maup.doctor(cong_df)

In [ ]:
maup.doctor(vest18_df)

In [ ]:
vest18_df = smart_repair(vest18_df, nest_within_regions=county_df)

In [ ]:
final_df = smart_repair(vest20_df, nest_within_regions = county_df)

In [ ]:
import copy
boundaries = copy.deepcopy(final_df)
boundaries["geometry"] = boundaries.geometry.boundary  # get boundaries
neighbors = gpd.sjoin(boundaries, final_df, predicate="intersects") # find boundaries that intersect
neighbors = neighbors[neighbors.index != neighbors.index_right] # remove boundaries of a region with itself

# compute shared border length using intersection
borders = list(neighbors.apply(
    lambda row: row.geometry.intersection(boundaries.loc[row.index_right, "geometry"]).length, axis=1
))

borders.sort()
print(borders[:1000])

In [ ]:
final_df = smart_repair(final_df, min_rook_length = 30)

In [ ]:
maup.doctor(final_df)

In [ ]:
temp_df = final_df

In [ ]:
temp2_df = final_df

In [ ]:
final_df.plot() ## Looks good, the hole in the data is the lake

In [ ]:
pop_assignment = maup.assign(population_df.geometry, final_df.geometry)
cong_assignment = maup.assign(final_df.geometry, cong_df.geometry)

In [ ]:
pop_assignment

In [ ]:
cong_assignment

In [ ]:
cong_assignment = cong_assignment.fillna(0)
cong_assignment.isna().sum()

In [ ]:
pop_column_names = ['P0020001', 'P0020002', 'P0020005', 'P0020006', 'P0020007',
                    'P0020008', 'P0020009', 'P0020010', 'P0020011']
for name in pop_column_names:
    final_df[name] = population_df[name].groupby(pop_assignment).sum()

In [ ]:
print(county_df['P0020001'].sum()) # Makes sure we didn't lose any pop blocks
print(final_df['P0020001'].sum())

In [ ]:
final_df.columns

In [ ]:
rename_dict = {'P0020001': 'TOTPOP', 'P0020002': 'HISP', 'P0020005': 'NH_WHITE', 'P0020006': 'NH_BLACK', 'P0020007': 'NH_AMIN',
                    'P0020008': 'NH_ASIAN', 'P0020009': 'NH_NHPI', 'P0020010': 'NH_OTHER', 'P0020011': 'NH_2MORE',
                    'P0040001': 'VAP', 'P0040002': 'HVAP', 'P0040005': 'WVAP', 'P0040006': 'BVAP', 'P0040007': 'AMINVAP',
                                        'P0040008': 'ASIANVAP', 'P0040009': 'NHPIVAP', 'P0040010': 'OTHERVAP', 'P0040011': '2MOREVAP',
                                        'G20PREDBID': 'G20PRED', 'G20PRERTRU': 'G20PRER', 'G20USSDHAR': 'G20USSD', 
                                        'G20USSRGRA': 'G20USSR'}

In [ ]:
final_df.rename(columns=rename_dict, inplace = True)

In [ ]:
final_df.columns

In [ ]:
final_df["CD"] = cong_assignment

In [ ]:
print(set(final_df["CD"]))

In [ ]:
final_df

In [ ]:
cong_df

In [ ]:
final_df["CD"].isna().sum()

In [ ]:
final_df.isna().sum()

In [ ]:
## Uses real district names
for precinct_index in range(len(final_df)):
    final_df.at[precinct_index, "CD"] = cong_df.at[int(final_df.at[precinct_index, "CD"]), "NAME"]
print(set(cong_df["NAME"]))
print(set(final_df["CD"]))

In [ ]:
final_df.plot() ## See an image of the geodataframe

In [ ]:
pop_vals = [final_df.loc[final_df["CD"] == str(n), "TOTPOP"].sum() for n in range(0, 8)]
print(pop_vals) ## Population nearly the same in each district

In [ ]:
directory = "./WI_DATA"
if not os.path.exists(directory):
    os.makedirs(directory)
final_df.to_file("./WI_DATA/WI.shp")

# CITATION: CODE FOUND IN LAB 3

In [ ]:
import matplotlib.pyplot as plt
import networkx as nx
from gerrychain import Graph, Partition, proposals, updaters, constraints, accept, MarkovChain, Election
from gerrychain.updaters import cut_edges, Tally
from gerrychain.proposals import recom
from gerrychain.accept import always_accept
from functools import partial
import time
from gerrychain.tree import bipartition_tree


ct_file = gpd.read_file("./WI_DATA/WI.shp") # reads a file from ct directory
ct_graph = Graph.from_geodataframe(ct_file) # creates a graph from a geodataframe
print(ct_graph.nodes()[0]) # Prints out the attributes of each node in the graph
tot_pop = sum([ct_graph.nodes()[v]['TOTPOP'] for v in ct_graph.nodes() if not pd.isna(ct_graph.nodes()[v]['TOTPOP'])]) # gets the total population for ideal population calculation if the values are numbers
print(tot_pop)


ct_partition = Partition( # creates a partition for the IL graph
    ct_graph, # dual graph
    assignment = "CD", # initial districting plan
    updaters={
    "our cut edges": cut_edges, # number of cut edges in a graph
    "district population": Tally("TOTPOP", alias = "district population"), # across districts, total population 
    "hispanic population": Tally("HISP", alias = "hispanic population"), # across districts, hispanic population 
    "democratic votes": Tally("G20PRED", alias = "democratic votes"), # across districts, number of democratic votes
    "republican votes": Tally("G20PRER", alias = "republican votes"), # across districts, number of republican votes
})
print(ct_partition["district population"]) # Prints the population for each district
print(ct_partition["democratic votes"]) # prints the number of democratic votes for each district
print(ct_partition["republican votes"]) # prints the number of republican votes for each district
ideal_pop = tot_pop/5 # calculates the ideal population 
pop_tolerance = 0.05 # population tolerance for the proposal
print(ideal_pop)

# found this code in gerrychain_intro_complete-2.ipynb
start_time = time.time()
rw_proposal = partial(recom, ## how you choose a next districting plan
                      pop_col = "TOTPOP", ## What data describes population? 
                      pop_target = ideal_pop, ## What the target/ideal population is for each district 
                                              ## (we calculated ideal pop above)
                      epsilon = pop_tolerance,  ## how far from ideal population you can deviate
                                              ## (we set pop_tolerance above)
                      node_repeats = 100, ## number of times to repeat bipartition.  Can increase if you get a BipartitionWarning
                    #   allow_pair_reselection=True,
                        method = partial(
                        bipartition_tree,
                        max_attempts=100,
                        allow_pair_reselection=True  # <-- This is the only change
    )
                      )
population_constraint = constraints.within_percent_of_ideal_population(
    ct_partition, 
    pop_tolerance, 
    pop_key="district population")

random_walk_10 = MarkovChain( # random walk for 10000 steps
    proposal = rw_proposal, 
    constraints = [population_constraint], # Could add additional constraints here
    accept = always_accept, # Accept every proposed plan that meets the population constraints
    initial_state = ct_partition, 
    total_steps = 10)

cutedge_ensemble_10 = [] ## Cut edge ensemble for Markov Chain with 10000 steps
hisp_maj_ensemble_10 = [] ## Hisp majority ensemble for Markov Chain with 10000 steps
dem_maj_ensemble_10 = [] ## Dem majority ensemble for Markov Chain with 10000 steps

for j, part in enumerate(random_walk_10):
    print(j)
    # Add cutedges to cutedges ensemble
    cutedge_ensemble_10.append(len(part["our cut edges"]))
    # Calculate number of hisp-majority and dem-majority districts 
    # Add to ensemble
    num_maj_hisp = 0
    num_maj_dem = 0
    
    for i in range(0,8):
        district = str(i)
        b_perc = part["hispanic population"][district] / part["district population"][district] # calculation for hispanic population 
        dem_perc = part["democratic votes"][district] / (part["democratic votes"][district] + part["republican votes"][district]) # calculation for democratic vote share
        if dem_perc >= 0.5: # if majority democratic
            num_maj_dem = num_maj_dem + 1
        if b_perc >= 0.5: # if majority hispanic
            num_maj_hisp = num_maj_hisp + 1
    hisp_maj_ensemble_10.append(num_maj_hisp)
    dem_maj_ensemble_10.append(num_maj_dem)
end_time = time.time()

print("The time of execution of above program is :",
      (end_time-start_time)/60, "mins")

In [ ]:
print(cutedge_ensemble_10)
print(dem_maj_ensemble_10)
print(hisp_maj_ensemble_10)